body {
    display: flex;
    background: violet;
    margin:0%
    
}


header {
    padding: 0%;
    margin:0%
    background: rgb(157, 157, 243)
    
}

.contenedorderecha{
    background: violet;
    
    border-style: solid;
    
}
.titulos{ align-items: center;}
/*section {
    display: flex;
    background: white;
    justify-content: center;
    border: 5px, black;

}*/